<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <title>Delete</title>
</head>
<body>
<div class="input-group input-group-lg mx-auto" style="width: 666px; padding-top: 50px;">
    <div class="input-group-prepend">
        <div class="input-group-text" id="id" name="id">${product.id}</div>
    </div>
    <input class="form-control" id="name" name="name" type="text"
           value="${product.name}">
    <input class="form-control" id="price" min="0.0" name="price" type="number"
           value="${product.price}">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" onclick="update()" type="button">Update</button>
    </div>
</div>
<script>
    function update() {
        let id = document.getElementById('id').textContent;
        // let url = '/product/update/' + id;
        let url = '/product/update';
        let name = document.getElementById('name').value;
        let price = document.getElementById('price').value;
        console.log(id.value, name, price);
        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({'id': id, 'name': name, 'price': price})
        }).then(result => {
            console.log('Success:', result);
        }).then(() => {
            window.location.assign('/')
        }).catch(err => {
            console.error(err)
        })
    }
</script>
</body>
</html>